body {
  font-family: Arial, sans-serif;
   background-color: #f4f6f8;
  padding: 20px;
}
h1 {
  color: #333;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
input {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
}

